@model ScrumBasic.ViewModels.Sprint.UserStoryViewModel
@{
    Layout = "";
}
<form asp-action="Create" id="StoryItemCreateForm">
    <div class="form-horizontal">
        <h4>创建用户故事</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label">内容</label>
            <div class="col-md-10">
                <textarea asp-for="Content" class="form-control" style="height:200px;width:100%;max-width:1024px;" ></textarea>
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemTypeCode" class="col-md-2 control-label">类型</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
        model => model.ItemTypeCode,
        new SelectList(
            new List<Object>
                {
                    new { value = 0 , text = "用户故事"  },
                    new { value = 1 , text = "功能" },
                    new { value = 2 , text = "技术故事"},
                    new { value = 3 , text = "Bug"}
                 },
                "value",
                "text",
                Model.ItemTypeCode
             ), null, new { @class = "form-control" }
        )
                <span asp-validation-for="ItemTypeCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Point" class="col-md-2 control-label">点数</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
        model => model.Point,
        new SelectList(
            new List<Object>
                {
                    new { value = 1 , text = "1"  },
                    new { value = 2 , text = "2" },
                    new { value = 3 , text = "3"},
                    new { value = 5 , text = "5"},
                    new { value = 8 , text = "8"},
                    new { value = 13 , text = "13"},
                    new { value = 21, text = "21"},
                    new { value = 9999 , text = "无穷大"},
                 },
                "value",
                "text",
                Model.Point
             ), null,new {@class= "form-control" }
        )
                <span asp-validation-for="Point" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="StatusCode" class="col-md-2 control-label">状态</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.DefaultStoryCode, Model.GetStatusSelectList(), "请选择", new { @class = "form-control", @disabled = "disabled" });
                <span asp-validation-for="StatusCode" class="text-danger" />
            </div>
        </div>


        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
