@using ScrumBasic.ViewModels.Sprint;
@model IEnumerable<UserStoryViewModel>
@{
    ViewBag.Title = "Project Page";
    Layout = "~/Views/Shared/_Layout_project.cshtml";
    //List<UserStoryViewModel> data_story_items = ViewData["story_items"] as List<UserStoryViewModel>;
}
<div class="app_container">
    <div class="block">
        <div class="title">
            <span>Backlog(10)</span>
            <a style="float:right" class="btn btn-success btn-xs" id="addItem">添加</a>
        </div>
        <ul id="backlog" class="block__list block__list_words">
            @foreach (var t in Model)
            {
                <li>
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2706011476,1909070034&fm=58" />
                    <div>@t.Content</div>
                    @*<a class="btn btn-primary btn-xs" id="editItem">编辑</a>*@
                    @Html.ActionLink("编辑", "EditItem", new { itemID = @t.ID }, new { @class = "btn btn-primary btn-xs",@Name="EditItem",@ItemID=@t.ID })
                </li>
            }
        </ul>
    </div>
    <div class="block">
        <div class="title">
            <span>To Do</span>
        </div>
        <ul id="todo" class="block__list block__list_words"></ul>
    </div>

    <div class="block">
        <div class="title">
            <span>Doing</span>
        </div>
        <ul id="doing" class="block__list block__list_words">
            <li>бегемот</li>
            <li>корм</li>
            <li>антон</li>
            <li>сало</li>
            <li>железосталь</li>
            <li>валик</li>
            <li>кровать</li>
            <li>краб</li>
        </ul>
    </div>
    <div class="block">
        <div class="title">Done</div>
        <ul id="done" class="block__list block__list_words">
            <li>бегемот</li>
            <li>корм</li>
            <li>антон</li>
            <li>сало</li>
            <li>железосталь</li>
            <li>валик</li>
            <li>кровать</li>
            <li>краб</li>
        </ul>
    </div>
    @*

        <div data-force="18" class="layer block" style="left: 58%; top: 143px; width: 40%;">
            <div class="layer title">List B</div>
            <ul id="bar" class="block__list block__list_tags">
                <li>казнить</li>
                <li>,</li>
                <li>нельзя</li>
                <li>помиловать</li>
            </ul>
        </div>*@
</div>
<div class="remodal" data-remodal-id="modalContent">
    <button data-remodal-action="close" class="remodal-close"></button>

        <div style="text-align:left" id="remodalDialog">

        </div>
        <br>

</div>

<script>
    var data = @Html.Raw(Json.Serialize(Model));
    var dialogInst = $('[data-remodal-id=modalContent]').remodal();
    var dialogMode = "create";

    $("#addItem").click(function () {
        dialogMode = "create";
        $("#Point").val(0);
        $("#ItemTypeCode").val(0);
        $("#Content").val("");
        dialogInst.open();
    });
    $("[name='EditItem']").click(function () {
        dialogMode = "edit";
        var itemID =  $(this).attr("itemid");
        var url = $(this).attr('href');
        $('#remodalDialog').load(url);
        dialogInst.open();



        //var dialog = $('<div style="display:none"></div>').appendTo('body');
        //dialog.load(url, {}, 
        //    function (responseText, textStatus, XMLHttpRequest) {
        //        dialog.dialog({
        //            close: function(event, ui) {
        //                dialog.remove();
        //            }
        //        });
        //    });
        return false;


        //for(var i=0;i<data.lenth();i++)
        //{
        //    var oneItem = data[i];
        //    if(oneItem.ID==itemID)
        //    {
        //        $("#Point").val(oneItem.Point);
        //        $("#ItemTypeCode").val(oneItem.ItemTypeCode);
        //        $("#Content").val(oneItem.Content);
        //        break;
        //    }
        //}



        //dialogInst.open();
    });


    $(document).on('opening', '.remodal', function () {
        console.log('Modal is opening');

    });

    $(document).on('opened', '.remodal', function () {
        console.log('Modal is opened');
    });

    $(document).on('closing', '.remodal', function (e) {

        // Reason: 'confirmation', 'cancellation'
        console.log('Modal is closing' + (e.reason ? ', reason: ' + e.reason : ''));
    });

    $(document).on('closed', '.remodal', function (e) {

        // Reason: 'confirmation', 'cancellation'
        console.log('Modal is closed' + (e.reason ? ', reason: ' + e.reason : ''));
    });

    $(document).on('confirmation', '.remodal', function () {
        if (dialogMode = "create")
        {
            $("#formAddItem").submit();
        }

    });

    $(document).on('cancellation', '.remodal', function () {
        console.log('Cancel button is clicked');
    });
</script>




